APP_ENV=development
APP_PORT=8000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=loganalytics
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

ES_HOST=http://localhost:9200
ES_INDEX_LOGS=logs
